<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>see in details</title>
   <link rel="stylesheet" href="/style.css">
</head>
<body>
   <h1>See in Detail</h1>

   <p> id : <%= post.id %></p>
   <div class="post">
      <h3> <span>Username</span> : @<%= post.username%></h3>
      <h4>:) <%= post.content%></h4>
   </div>
   
</body>
</html>